.content{
	margin-top: 42px;
	margin-left:19%;
	margin-right:1%;
}

.togglemenu_bar{
	width: 100%;
	height: 45px;
	margin-top: 38px;
    margin-bottom: -10px
}


.banner{
	width:100%;
	height:99vh;
	background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../image/contact1.1.avif);
	background-size: cover;
	color:white;
	padding:25px;
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top:15px;
}
.my-card{
	width:100%;
	padding:20px;
	background:#FFFFFF;
	margin-top:50px;
}











.carousel-inner{
	height:600px !important;
}
.containers2{
	background:url("../image/contact2.avif");
	display:flex;
	height:800px;
	background-size: cover;
	padding:100px 10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.contentbox{
	width:40%;
	background:#e2e2e2;
	border-radius: 15px;
	padding:10px 25px;
	opacity: 0.8;
}
.containers3{
	background:url("../image/contact3.avif");
	display:flex;
	height:800px;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0px 10px;
}
.contentbox3{
	width:30%;
	height:50%;
	border-radius: 15px;
	margin:10px 25px;
	background: #e2e2e2;
}
.contentbox3 p{
	color:black;
}
.contentbox3 img{
	width:100%;
	height:200px;
	
}
.contentbox3_container{
	height:50%;
	width: 100%;
	background: white;
}
.img_desc{
	margin:10px 0px;
	padding: 0px 10px;
}



.containers4{
	display: flex;
	background: url('../image/container_background.jpeg');
	background-size:cover;
	padding:10px 25px;
	height: 800px;
	justify-content: flex-start;
	align-items: flex-end;
}
.containers4 .boxes{
	width: 700px;
	height: 350px;
	margin:25px;
}

.containers5{
	display: flex;
	background: url('../image/container_image1.jpg');
	background-size:cover;
	padding:10px 25px;
	height: 800px;
	justify-content: flex-end;
	align-items: flex-end;
}
.containers5 .boxes{
	background: url('../image/container_image.webp');
	background-size:cover;
	width: 700px;
	height: 200px;
	margin:25px;
	color:white;
	font-family:Segoe UI, Arial, sans-serif;
	opacity: 0.9;
	margin-bottom:150px;
	padding: 24px;
	border-radius: 20px;
}




/*sidebar*/

.sidebar{
	width: 18%;
	background:#fff;
	height:100vh;
	position:fixed;
	padding-top: 25px;
	display: block;
	margin-top:10px;
}
.sidebar a{
	display: block;
	width:100%;
	padding: 10px 25px;	
	text-decoration: none;
}
 i{
	margin-right:5px;
}
.sidebar a:hover{
	background: #ccc;
	width:100%;
	
}
.sidebar .divider{
	height:.5px;
	width:100%;
	background: #e2e2e2;
}
.close_sidebar{
	padding:0px 20px;
	margin:-20px 0px 45px 0px;
}
.close-btn{
	background:none;
	float:right;
	border:none;
	font-weight: 600;
	font-size:35px;
}
.dropdown-menu{
	background-color: grey;
}
.dropdown-menu a{
	color: white;
	border-bottom:2px solid grey;
	font-weight:500;
	
}








.footer_container{
	margin-top:0px;
	background: #343a40;
	padding: 35px 25px 1px 25px;
}
.box_container{
	display: flex;
	justify-content: space-around;
}
.boxes{
	margin:0px;
	text-align: left;
	width: 250px;
	color:white;
}

.boxes ul{
	list-style: none;
	margin: 0x;
	padding: 0px;
}
.boxes ul li a {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;	
}


.footer_description{
	margin:auto;
	text-align: center;
}
.footer_description p{
	color: white;
	font-weight: 600;
}
.footer_description{
	padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
}




.contact_box{
	margin:0px;
	width: 100%;
}

        .image_button {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }


        .image_button input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        }
        

.sign_up_section{
	
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
	width:100%;
	height:120vh;
}

.alert_box{
	position: absolute; 
	top: 9%; left: 74%;
	background-color: red; 
	color: white;
	padding: 15px; 
	font-weight: 700;
	border-radius: 5px;
}


@media only screen and (max-width:600px){
	
	.banner{
		margin-top:56px;
		height:900px;
	}
	
	.containers2,.containers3{
		flex-direction:column;	
		height: 100%;
	}
	.contentbox{
		width: 100%;
	}
	.contentbox3 {
		width: 100%;
		height:100%;
	}
	.containers4, .containers5{
		flex-direction: column;
		width:100%;
	}
	
	.containers4 .boxes{
		width: 396px;
		height:400px;
		padding-left: 25px;
	}
	.containers5{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:100%;
	}
	.containers5 .boxes{
		width: 340px;
		height:400px;
		padding:25px;
	}
	.containers5 .boxes p{
		margin-top:20px;
		font-weight: 900;
	}
	
	.alert_box{
		left: 7%;
		z-index: 1;
		width: 90%;
		height: 15%;
		font-size: 15px;
	}

	.sign_in_inner_box{
		width: 100%;
		margin-left: 0px;
	}
	/* help container */
	
}



/* chat help button css*/
		.help_container{
			width: 65px;
			height: 65px;
			border-radius: 50%;
			position: fixed;
		    top: 85%;
    		right: 2%;
   			background: url("../image/chatIcon.png");
   			background-size: cover;
   			box-shadow: 0 0 15px 5px #868686;
			z-index: 2;
		}
		
		#help-container-box{
			height: 600px; 
			margin-top: 70px; 
			position: absolute;
			display: none;
	
		}

		#help-container-box1{
			height: 600px; 
			margin-top: 100px; 
			position: absolute;
			display: none;
			top: -20px;
		}

		.help_contaner_input_field{
			width: 90%; 
			margin: 0px auto 10px auto;
		}
		
		

/* payment box*/
		.payment-box{
			background-color: white;
			padding: 20px;
			margin-top:20px;
			color: black;
			text-transform: capitalize;		
		}
		.payment-input-box{
			margin: 50px auto;
			width: 50%;
		}