<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{ base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<section>



	

		<!-- OTP BOX -->
		<div role="alert" th:if="${session.message}"  class="alert_box">
				<h3>Forgot Password?</h3>
				   	<p class="text-center" th:text="${session.message.content}"></p>
				    <th:block th:text="${@sessionHelper.removeAttributeThrroughSession()}"></th:block>
		</div>


		<div class="container" style=" margin-top: 180px; height:  600px;" id="otp-box">

			
			<div class="row ">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-body">
							<div class="alert alert-success alert-dismissible" role="alert">
								we have sent a OTP on your email
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
							  </div>
							<h1 class="text-center mt-2 text-primary text-upper" style="text-transform: uppercase;font-weight:bold;font-size:30px;">OTP verification</h1>
							<form th:action="@{/forgot-password/verify_otp}" action="#" method="POST" class="mt-5">
								<div class="form-group">
									<input type="text" class="form-control" name="otp" placeholder="Enter OTP" size="4" maxlength="4">
								</div>
								

								<div class="container text-center mt-5">
									<a  href="/forgot-password" class="float-left btn btn-primary  mt-4" >Back</a>
									<button type="submit" class="btn bg-primary login-button text-white mt-4" onclick="openOTPBox()" > Verify OTP</button>
									<button type="reset" class="btn btn-warning login-button mt-4" >Reset</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>